@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
*{
  margin: 0;
  padding: 0; 
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body{
	margin: 0;
	padding: 0;
	background-color: #f4f7f6;
}
.img-thumbnail{
	width: 100%;	
}
.img-fluid{
	border-radius: 10px;
	

}

.image2{
	margin-top: 40vh;
}
.site_title{
	position: absolute;
	top: 50%;
	left: 15%;
	-webkit-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	transform: translateY(-50%);
	z-index: 3;

}

.site_title h1{
	color: #E6E5CC;
	text-align: right;
	font-family: Playfair Display;
	font-size: 80px;
	margin-top: 10px;
	margin: 0;
	margin-left: 10vh;
}

.image1{
	margin-top: 5vh;
	display: block;
	width: 100%;
	height: auto;
}

.overlay{
	background: greenyellow;
	width: 100%;
	height: 0;
	position: absolute;
	left: 0;
	bottom: 100%;
	overflow: hidden;
	z-index: 200;
	opacity: 0;
	transition: .5s ease;
}
.img-fluid:hover .overlay{
	bottom: 0;
	height: 100%;

}
.text{
	
  color: #000;
  font-size: 20px;
  position: absolute;
  overflow: hidden;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}

.container{
	margin-top: 50px;
}

#form{
	border: solid 0.5px #888888;
	padding: 10px;
    box-shadow: 5px 5px 5px #888888;
    margin-top: 0px;
   /*border-top-style: groove;*/
  /*border-top-color: #49c5b6;*/
  /*border-top-width: 7px;*/

}
#form2{

	margin-top: 40vh;
	border: solid 0.5px #888888;
	padding: 10px;
    box-shadow: -5px 5px 5px #888888;
    /*border-top-style: groove;*/
  	/*border-top-color: #49c5b6;*/
  /*border-top-width: 7px;*/
}
/* h3{
	
	
} */
.content{
	margin-top: 10vh;
	margin-left: 30vh;
}

@media (max-width: 768px) and (min-width:501px) {
  /* For tablets: */
.contain{
	background-size: 100%;
	
	width: 100%;
	height: 300px;

}

.temp-row {
	position: relative;
/*	display: flex;*/
	/*flex-direction: column;
	flex-wrap: wrap;*/
}

#form2 {

	margin-top: 22rem ;
	/* overflow: hidden; */
}
.content .box{
	width: 100%;
	height: 100%;
}

/*.container {
	display: flex;
	flex-wrap: wrap;
	flex-direction: column;
	/* height: 700px; */
	/* overflow: hidden; */
}




.overlay{
	width: 100%;
	height: 100%;

}


@media only screen and (max-width:500px) {
  /* For mobile phones: */
.overlay{
	width: 100%;
	height: 100%;

}

.title{
	font-size: 7vw;
}


.temp-row {
	position: relative;
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
}

#form2 {

	margin-top: 70rem ;
	/* overflow: hidden; */
}

.container {
	display: flex;
	flex-wrap: wrap;
	flex-direction: column;
	/* height: 700px; */
	/* overflow: hidden; */
}
.image2{
	margin-top: 120rem;
}
.content .box{
	width: 100%;
	width: 30px;
	align-items: center;
	border-width: 100%;
	display: flex;
	margin-right: 50rem;
	
	

}
.counter-up{
	padding: 50px 50px 50px 50px;
}
.wrapper{
	padding: 20px;
  }
  .counter-up{
	padding: 30px 20px 0 20px;
  }



}





@media screen and (min-width: 768px) {
  .col-md-12, .col-12,.col-6,.col-md-6 input[type=submit] {
    width: 100%;
    margin-top: 0;
  } }

@media (max-width: 1036px){

	.counter-up{
		padding: 50px 50px 50px 50px;
	  }
	  .counter-up .content .box{
		width: calc(50% - 30px);
		margin-bottom: 50px;
	  }

}
@media (max-width:580px){

	.counter-up .content .box{
		width: 100%;
	  }
}


.flip-card-inner {
 /* position: relative;*/

 
  transition: transform 0.6s;
  transform-style: preserve-3d;
  
}





.flip-card-front, .flip-card-back {
  position: absolute;


  	-webkit-backface-visibility: hidden;
  backface-visibility: hidden;

  
 
}

/* .flip-card-front {


	
 
} */

.flip-card-back {
 
 
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  transform: rotateY(180deg);
          	}
			  
 blockquote {
  background: #f9f9f9;
  border-left: 10px solid #ccc;
  margin: 1.5em 10px;
  margin-right: 30px;
  quotes: "\201C""\201D""\2018""\2019";
}
blockquote:before {
  color: #000;
  content: open-quote;
  font-size: 4em;
  line-height: 0.1em;
  margin-right: 0.25em;
  vertical-align: -0.4em;
}
blockquote p {
  display: inline;
}

p{
	
	font-family: system-ui;
	font-size: 25px;
	text-align: left;
	text-indent: 30px;
}


.wrapper{
	padding: 20px 50px;
}


.wrapper .title{
	font-size: 40px;
	
	align-items: center;
	margin-left: 4rem;
   
	
	margin-top: 10rem;
	
}
.counter-up{
	background: url("slider1.png") no-repeat;
	min-height: 50vh;
	display: flex;
	align-items: center;
	/* padding: 0 50px; */
	
	background-size: cover;
	background: rgba(0, 0, 0, 0.8);
	background-attachment: fixed;
	position: relative;




} 
.counter-up::before{
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	/* content:""; */
	/* background: rgba(0, 0, 0, 0.8) */
} 
 .counter-up .content{
	
	
	

	
	/* margin-top: 5rem; */

	z-index: 1;
    position: relative;
    display: flex;
    width: 100%;
    height: 100%;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}


.content .box{
	width: calc(25% - 30px);
	border: 1px dashed rgba(255, 255, 255, 0.6);
	border-radius: 5px;
	padding: 20px;
	display: flex;
	align-items: center;
	justify-content: space-evenly;
	color: #fff;
	flex-direction: column;
	margin-right: 7rem;


}
.content .box .counter{
	font-size: 50px;
	color: #f2f2f2;
	font-weight: 500;
	font-family: sans-serif;
}
.content .box .tex{
	color: #fff;
	font-weight: 400;
}
.content .box .icon{
	font-size: 48px;
	color: #e6e6e6;
  }
ol, ul {
	list-style: none;
}
ul {
	list-style: disc;
	margin: 0 0 2rem 0;
	padding-left: 1rem;
}
ul li {
	padding-left: 0.5rem;
}
ul li a{
	list-style: none;

}

.content ul li{
	list-style-type: none;
}
.image img{
	object-fit: contain;
	width: 100%; 

}






